ul[id^="sortable-"] li {
	width: 120px;
	list-style-type: none;
	border: 1px solid #000000;
	margin: 2px;
	text-align:center;
	background:#eeeeee;
}

ul[id^="sortable-"] {
	background-color: #efefef;
	padding: 10px;
	margin: 0px;
}

.inmenu-0 {
	text-decoration:line-through;
}