@CHARSET "UTF-8";
/** ==========================================
=========== Style for impeesa core! ==========
============================================== **/

/** Hack for info message, to display centered **/
#info-msg-wrapper {
	position: fixed;
		bottom: 10px;
	width: 100%;
	z-index: 99999999;
}

#info-msg {
	margin: 0 auto;
	width: 500px;
	border: 1px solid #000000;
	padding: 15px 15px 15px 40px;
}

.success#info-msg {
	background-image: url({LINK_TPL}img/success.png);
	background-repeat: no-repeat;
	background-position: center left;
}

.error#info-msg {
	background-image: url({LINK_TPL}img/error.png);
	background-repeat: no-repeat;
	background-position: center left;
}

.waring#info-msg {
	background-image: url({LINK_TPL}img/warning.png);
	background-repeat: no-repeat;
	background-position: center left;
}

.info#info-msg {
	background-image: url({LINK_TPL}img/info.png);
	background-repeat: no-repeat;
	background-position: center left;
}

/*************************+++Infobar+++***************************/
#infobar
{
	background: #333; /* Fallback for IE */
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#333), to(#222));
	background: -webkit-linear-gradient(top, #333, #222);
	background: -moz-linear-gradient(#333, #222);
	background: -ms-linear-gradient(#333, #222);
	background: -o-linear-gradient(#333, #222);
	background: linear-gradient(#333, #222);
	height: 2em;
	color: #FFFFFF;
}

#infobar .infobar-button {
	float: right;
}

#infobar a, #infobar li{
	color: #ffffff;
	display: block;
	height: 0.5em;
	padding: 5px 15px;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
}

#infobar a:hover, #infobar li:hover {
	background: -webkit-linear-gradient(rgba(255,255,255,.3),transparent);
	background: -moz-linear-gradient(rgba(255,255,255,.3),transparent);
	background: -ms-linear-gradient(rgba(255,255,255,.3),transparent);
	background: -o-linear-gradient(rgba(255,255,255,.3),transparent);
	background: linear-gradient(rgba(255,255,255,.3),transparent);
}

/* Fix for contenteditable area */
#content {
	padding: 5px;
	margin: 5px;
}