@CHARSET "UTF-8";
body
{
	background: #FFFFFF;
	font-family: 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
}

/*************************+++Infobar+++***************************/
#infobar
{
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#333), to(#222));
	background: -webkit-linear-gradient(top, #333, #222);
	background: -moz-linear-gradient(#333, #222);
	background: -ms-linear-gradient(#333, #222);
	background: -o-linear-gradient(#333, #222);
	background: linear-gradient(#333, #222);
	height: 1em;
	padding: 10px;
	color: #FFFFFF;
}

.info-msg
{
	background-color: #5BB75B;
	background-image: -ms-linear-gradient(top, #62C462, #51A351);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62C462), to(#51A351));
	background-image: -webkit-linear-gradient(top, #62C462, #51A351);
	background-image: -o-linear-gradient(top, #62C462, #51A351);
	background-image: -moz-linear-gradient(top, #62C462, #51A351);
	background-image: linear-gradient(top, #62C462, #51A351);
	color: #000000;
	padding: 0 10px;
}


/*********************+++Header+++********************************/
header
{
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#b8bcbf), to(#cfd0d4));
	background: -webkit-linear-gradient(#b8bcbf, #cfd0d4);
	background: -moz-linear-gradient(#b8bcbf, #cfd0d4);
	background: -ms-linear-gradient(#b8bcbf, #cfd0d4);
	background: -o-linear-gradient(#b8bcbf, #cfd0d4);
	background: linear-gradient(#b8bcbf, #cfd0d4);

}

header h1
{
	font-family: 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
	color: #0c1921;
}

/*********************+++Navigation+++****************************/
nav, .ym-hlist
{
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#194d89), to(#0c1e36));
	background: -webkit-linear-gradient(#194d89, #0c1e36);
	background: -moz-linear-gradient(#194d89, #0c1e36);
	background: -ms-linear-gradient(#194d89, #0c1e36);
	background: -o-linear-gradient(#194d89, #0c1e36);
	background: linear-gradient(#194d89, #0c1e36);
}

.ym-hlist ul li a,
.ym-hlist ul li strong
{
	color: #FFFFFF;
	font-size: 1em;
	font-weight: bold;
}

.ym-hlist ul li a:focus,
.ym-hlist ul li a:hover,
.ym-hlist ul li a:active  {
	color: #FFFFFF;
}

/*****************************+++Content****************************/
.content h1:before {
	content: "»‹ ";
	color: #bc595e;
}

.content h1 {
	font-family: 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
}

.content p {
	font-family: 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
}

/***************************+++Footer+++****************************/
footer {
	background: transparent;
}

/*********************+++Sidebar+++*********************************/
.sidebar {
	background: #FFFFFF;
	background: -webkit-linear-gradient(#cfd0d4, #FFFFFF);
	background: -moz-linear-gradient(#cfd0d4, #FFFFFF);
	background: -ms-linear-gradient(#cfd0d4, #FFFFFF);
	background: -o-linear-gradient(#cfd0d4, #FFFFFF);
	background: linear-gradient(#cfd0d4, #FFFFFF);
}

.sidebar-top {
	display: block;
	width: 100%;
	height: 1em;
	background: #7a1620;
	background: -webkit-linear-gradient(#7a1620, #6a121e);
	background: -moz-linear-gradient(#7a1620, #6a121e);
	background: -ms-linear-gradient(#7a1620, #6a121e);
	background: -o-linear-gradient(#7a1620, #6a121e);
	background: linear-gradient(#7a1620, #6a121e);
}



/********************+++Else+++************************************/
.img-dec {
	border: 0px solid #e3e3e3;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: #666 0px 3px 5px;
	-moz-box-shadow: #666 0px 3px 5px;
	box-shadow: #666 0px 3px 5px;
	margin-bottom: 10px;
}