@CHARSET "UTF-8";
body
{
	background: #FFFFFF;
	font-family: 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
}

/*********************+++Header+++********************************/
header
{
	background:#b8bcbf; /* Fallback for IE */
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#b8bcbf), to(#cfd0d4));
	background: -webkit-linear-gradient(#b8bcbf, #cfd0d4);
	background: -moz-linear-gradient(#b8bcbf, #cfd0d4);
	background: -ms-linear-gradient(#b8bcbf, #cfd0d4);
	background: -o-linear-gradient(#b8bcbf, #cfd0d4);
	background: linear-gradient(#b8bcbf, #cfd0d4);

}

header h1
{
	font-family: 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
	color: #0c1921;
}

/*********************+++Navigation+++****************************/
nav, .ym-hlist
{
	background: #194d89; /* Fallback for IE */
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#194d89), to(#0c1e36));
	background: -webkit-linear-gradient(#194d89, #0c1e36);
	background: -moz-linear-gradient(#194d89, #0c1e36);
	background: -ms-linear-gradient(#194d89, #0c1e36);
	background: -o-linear-gradient(#194d89, #0c1e36);
	background: linear-gradient(#194d89, #0c1e36);
}

.ym-hlist ul li a,
.ym-hlist ul li strong
{
	color: #FFFFFF;
	font-size: 1em;
	font-weight: bold;
}

.ym-hlist ul li a:focus,
.ym-hlist ul li a:hover,
.ym-hlist ul li a:active  {
	color: #FFFFFF;
}

/*****************************+++Content****************************/
.content h1:before, .content h2:before {
	content: "»‹ ";
	color: #bc595e;
}

.content h3:before {
	content: "»‹ ";
	color: #19467f;
}


.content h1 {
	font-family: 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
}

.content h2 {
	border-bottom: 1px solid #781420;
}

.content p {
	font-family: 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
}

/***************************+++Footer+++****************************/
footer {
	background: transparent;
}

/*********************+++Sidebar+++*********************************/
.sidebar {
	background: #FFFFFF; /* Fallback for IE */
	background: -webkit-linear-gradient(#cfd0d4, #FFFFFF);
	background: -moz-linear-gradient(#cfd0d4, #FFFFFF);
	background: -ms-linear-gradient(#cfd0d4, #FFFFFF);
	background: -o-linear-gradient(#cfd0d4, #FFFFFF);
	background: linear-gradient(#cfd0d4, #FFFFFF);
}

.sidebar-top {
	display: block;
	width: 100%;
	height: 1em;
	background: #7a1620; /* Fallback for IE */
	background: -webkit-linear-gradient(#7a1620, #6a121e);
	background: -moz-linear-gradient(#7a1620, #6a121e);
	background: -ms-linear-gradient(#7a1620, #6a121e);
	background: -o-linear-gradient(#7a1620, #6a121e);
	background: linear-gradient(#7a1620, #6a121e);
}



/********************+++Else+++************************************/
.img-dec {
	border: 0px solid #e3e3e3;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: #666 0px 3px 5px;
	-moz-box-shadow: #666 0px 3px 5px;
	box-shadow: #666 0px 3px 5px;
	margin-bottom: 10px;
}